body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav ul {
    display:table-footer-group;
    list-style:symbols(#)
    margin: left 0;
    padding: 0;
  }
  
  header nav a {
    color: #fff;
    display:flex;
    font-size: 20;
    text-decoration: none;


  }

.container{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

header.container{
display: flex;
align-items: center;
justify-content: space-between;

}

.about { 
  font-size: ;15
}